.Contactame {
    display: flex;
    gap: 20px;
    transition: all .5s;
}
.Contactame .icon {
    color: var(--ColorBlanco);
    border-radius: 15px;
    padding: 15px 20px;
    font-size: 20px;
    box-shadow: 2px 5px 7px rgba(255, 255, 255, 0.212);
    transition: all .5s;
}

.Contactame .icon:hover {
    cursor: pointer;
    background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  rgb(180, 34, 78) 0.3%, rgba(30,33,48,1) 90.2% );
    transition: all .5s;
}